<?xml version="1.0"?>
<launch>
        <arg name="pi/2" value="1.5707963267948966"/>
	<arg name="optical_rotate" value="0 0 0 -$(arg pi/2) 0 -$(arg pi/2)"/>
         
    	<!--publish the tf from camera_link to base_link-->
	<node pkg="tf" type="static_transform_publisher" name="camera_to_base_link" args="$(arg optical_rotate) base_link camera_link 100"/>
        
	<!--publish the tf from laser to base_link-->
        <node pkg="tf" type="static_transform_publisher" name="laser_to_base_link" args="$(arg optical_rotate) base_link laser 100"/>
        
	<include file="$(find rplidar_ros)/launch/rplidar.launch"/>
	
	<!--camera node-->
	<group ns="stereo_camera">
		<include file="$(find zed_wrapper)/launch/zed_camera.launch">
        		<arg name="publish_tf" value="false"/>
        	</include>
        </group>
        
        
	<node name="zed_center_to_camera_link" pkg="tf" type="static_transform_publisher" args="0 0 0 -$(arg pi/2) 0 -$(arg pi/2) camera_link zed_center 100" />

	<include file="$(find rtabmap_ros)/launch/rtabmap_stren.launch">
        	<arg name="rtabmap_args" value="--delete_db_on_start --Vis/CorFlowMaxLevel 5 --Stereo/MaxDisparity 200"/>
        	<arg name="right_image_topic" value="/stereo_camera/right/image_rect_color"/>
		<arg name="stereo" value="true"/>
                <arg name="subscribe_scan" value="true"/>
                <arg name="icp_odometry" value="true"/>
		<arg name="visual_odometry" value="false"/>
                <arg name="odom_guess_frame_id" value="base_link"/>
        </include>    
</launch>
