<?xml version="1.0"?>
<launch>
        <arg name="pi/2" value="1.5707963267948966"/>
	<arg name="optical_rotate" value="0 0 0 -$(arg pi/2) 0 -$(arg pi/2)"/>
	<node pkg="tf" type="static_transform_publisher" name="camera_to_base_link" args="$(arg optical_rotate) base_link camera_link 100"/>
	<include file="$(find rplidar_ros)/launch/rplidar.launch"/>
	<group ns="camera">
		<include file="$(find zed_wrapper)/launch/zed_camera.launch">
        		<arg name="publish_tf" value="false"/>
        	</include>
        </group>
	<node name="zed_center_to_camera_link" pkg="tf" type="static_transform_publisher" args="0 0 0 -$(arg pi/2) 0 -$(arg pi/2) camera_link zed_center 100" >
	</node>
	<include file="$(find rtabmap_ros)/launch/rtabmap.launch">
        	<arg name="rtabmap_args" value="--delete_db_on_start"/>
        </include>    
</launch>
